git config --local user.name "Silver Aloe"
git config --local user.email "26373564-silveraloe@users.noreply.gitlab.com"
git config --local core.sshCommand "ssh -i ~/.ssh/id_ed25519.pub -o IdentitiesOnly=yes"

use asdf
layout python_bin
layout python
layout python_pip
