# reflects setup.cfg

black
ipykernel

cryptography>=3.4.7
docopt-ng>=0.7.2
fasteners>=0.17.3
fastlogging>=1.0.0
getch>=1.0
numpy>=1.18
orjson>=3.7.5
python-box>=7.0
pudb>=2020.1
PyYAML>=5.4.1
requests>=2.26.0
tenacity>=8.0.1
uvloop>=0.15.2
